token: "1234567890:AAAAAAA..." # telegram bot token
to_chat: -100                  # the chat forward to
listen_chat: -100              # the working chat
admin_chat: -100               # the chat that admin receive nofication
watch_list: [0]                # the people allowed to automatic forward
questions:
  - title: 二加二等于几
    contrary: 二加二不等于几 # optional
    correct:            # show excetly one of them
      - 四
      - 4
    wrong:
      - e^(pi*i)
      - cos(0)
      - 五
      - 0
